# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_VLY2lyUXUdCyFb2v_4y6liU6rnBvhLk0UMChMohYEvYqtiX"

POSTGRES_URL="postgres://USER:PASSWORD@HOST:5432/DATABASE"
POSTGRES_PRISMA_URL="postgres://USER:PASSWORD@HOST:5432/DATABASE?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://USER:PASSWORD@HOST:5432/DATABASE"

POSTGRES_USER="USERN"
POSTGRES_HOST="Host"
POSTGRES_PASSWORD="PASSWORT"
POSTGRES_DATABASE="DATABASE"

AUTH_SECRET="ikQZhGO3AY/EE5sbnok8Ls5qtpRMpoby+Xj5UGcRIFU="
AUTH_URL="http://localhost:3000/api/auth"